<div
  class="flex-container bg-[url('/assets/imgs/login-background.jpg')] bg-cover bg-bottom bg-[#091E3FCC]/[0.8] bg-blend-multiply lg:flex lg:items-center lg:h-full"
>
  <div class="w-full max-w-[400px] py-8 mx-auto md:py-16">
    <div class="md:p-10 md:bg-white">
      <app-google-btn class="block mb-5"></app-google-btn>

      <form
        class="font-normal space-y-5"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
      >
        <p>
          <label
            for="email"
            class="block mb-2 font-semibold text-white md:text-gray-500"
            >Email <span class="text-orange">*</span></label
          >
          <input
            type="email"
            id="email"
            placeholder="your@email.com"
            class="w-full px-2 py-3 bg-gray-200 shadow-inner placeholder:text-gray-400"
            formControlName="email"
          />
          <span
            class="pl-1 text-dark-orange text-xs font-semibold"
            *ngIf="emailInput.errors?.['invalidEmail'].value && (emailInput.touched || emailInput.dirty || formSubmitted)"
          >
            {{emailInput.errors?.['invalidEmail'].value}}
          </span>
        </p>

        <p>
          <label
            for="password"
            class="block mb-2 font-semibold text-white md:text-gray-500"
            >Password <span class="text-orange">*</span></label
          >
          <input
            type="password"
            id="password"
            placeholder="Password"
            class="w-full px-2 py-3 bg-gray-200 shadow-inner placeholder:text-gray-400"
            maxlength="30"
            formControlName="password"
          />
          <span
            class="pl-1 text-dark-orange text-xs font-semibold"
            *ngIf="passwordInput.errors?.['invalidPassword'].value && (passwordInput.touched || passwordInput.dirty || formSubmitted)"
          >
            {{passwordInput.errors?.['invalidPassword'].value}}
          </span>
        </p>

        <app-button
          type="submit"
          text="Login"
          class="w-full min-h-[60px]"
          [disabled]="loginForm.invalid && (loginForm.touched || formSubmitted)"
          [loading]="loading"
        ></app-button>
      </form>

      <a
        routerLink="/register"
        class="block mt-4 font-medium text-center underline text-orange hover:text-dark-orange focus:text-dark-orange transition-colors cursor-pointer"
        >Register</a
      >
    </div>
  </div>
</div>
