<div
  class="flex-container bg-[url('/assets/imgs/login-background.jpg')] bg-cover bg-bottom bg-[#091E3FCC]/[0.8] bg-blend-multiply"
>
  <div class="py-8">
    <form class="font-normal space-y-5">
      <p>
        <label for="email" class="block mb-2 font-semibold text-white"
          >Email <span class="text-orange">*</span></label
        >
        <input
          type="email"
          id="email"
          placeholder="your@email.com"
          class="w-full px-2 py-3 bg-gray-200 shadow-inner placeholder:text-gray-400"
        />
      </p>

      <p>
        <label for="password" class="block mb-2 font-semibold text-white"
          >Password <span class="text-orange">*</span></label
        >
        <input
          type="password"
          id="password"
          placeholder="Password"
          class="w-full px-2 py-3 bg-gray-200 shadow-inner placeholder:text-gray-400"
        />
      </p>

      <button
        type="submit"
        class="w-full p-5 text-base font-semibold text-white bg-orange hover:bg-dark-orange focus:bg-dark-orange transition-colors"
      >
        Login
      </button>
    </form>

    <a
      routerLink="/register"
      class="block mt-4 font-medium text-center underline text-orange hover:text-dark-orange focus:text-dark-orange transition-colors cursor-pointer"
      >Register</a
    >
  </div>
</div>
